.style-13 {
  background-image: url(https://designresources.assets.yotako.io/40599uljgw9tf0t.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 375px;
  height: 387px;
  flex-direction: column
}
.style-16 {
  margin-top: 3px;
  width: 361px;
  height: 14px;
  align-self: center
}
.style-14,
.style-15 {
  color: #fff;
  font-family: 'Titillium Web',serif;
  font-size: 1.6875em;
  font-weight: 300;
  margin-left: 23px;
  margin-top: 230px;
  height: 29px
}
.style-15 {
  font-size: .75em;
  margin-top: 36px;
  height: 13px
}
.-image-5-row-3 {
  position: relative;
  display: flex;
  margin-left: 45px;
  margin-top: 61px;
  width: 64px;
  height: 9px;
  align-items: stretch
}
.style-11 {
  color: #3c4f5e;
  font-size: .6875em;
  margin-left: 0;
  flex-shrink: 0
}
.style-11,
.style-12,
.style-4,
.style-5 {
  font-family: 'Titillium Web',serif
}
.style-12 {
  font-size: .6875em;
  position: relative;
  margin-left: 39px;
  flex-shrink: 0;
  color: #3c4f5e
}
.style-4,
.style-5 {
  color: #4d606f
}
.style-4 {
  line-height: 20px;
  width: 332px;
  font-size: .625em;
  margin-left: 23px;
  margin-top: 32px
}
.style-5 {
  font-size: .75em;
  font-weight: 700;
  margin-left: 22px;
  margin-top: 31px;
  height: 12px
}
.-row-3 {
  display: flex;
  margin-left: 17px;
  margin-top: 12px;
  width: 216px;
  height: 49px;
  align-items: stretch
}
.style-7 {
  position: relative;
  margin-left: 0;
  width: 39px
}
.style-10 {
  margin-left: 108px;
  width: 69px
}
.-row-4 {
  display: flex;
  margin-left: 50px;
  margin-top: 553px;
  width: 137px;
  height: 43px;
  align-items: stretch
}
.style-6 {
  background-image: url(https://designresources.assets.yotako.io/40599uljgw9te9z.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  display: flex;
  margin-left: 0;
  width: 52px;
  flex-direction: column
}
.style-8 {
  position: relative;
  margin-left: 47px;
  width: 56px;
  height: 45px;
  flex-shrink: 0
}
.style-9 {
  position: relative;
  margin-left: 22px;
  width: 63px
}
.-row-5 {
  display: flex;
  margin-left: 40px;
  margin-top: 24px;
  width: 300px;
  height: 11px;
  align-items: center
}
.style-0,
.style-1,
.style-2,
.style-3 {
  color: #fff;
  font-family: 'Titillium Web',serif;
  font-size: .625em;
  margin-left: 0;
  height: 100%
}
.style-1,
.style-2,
.style-3 {
  margin-left: 44px
}
.style-1,
.style-3 {
  margin-left: 48px
}
.style-1 {
  font-family: 'Source Sans Pro',serif;
  font-size: 1.6875em;
  font-weight: 300;
  margin-left: 39px;
  height: 3px
}